@use "sass:map";

$font: 'PT Sans',
sans-serif;
$font-size: 20px;
$text-color: hsl(0,0%,85%);

$menu-background-color-1: rgba(0,0,0,0.7);
$menu-background-color-2:rgba(0,0,0,0.7);
$menu-gradient: linear-gradient(to right, $menu-background-color-1, $menu-background-color-2);

$colors-1:(
    "color-1":rgba(160,157,228,1),
    "color-2":rgba(163,143,230,1),
    "color-3":rgba(175,151,235,1),
    "color-4":rgba(221,155,236,1),
    "color-5":rgba(216,155,235,1),
    "color-6":rgba(203,149,233,1),
    "color-7":rgba(172,133,228,1),
    "color-8":rgba(118,117,219,1));

$buttons-attribute:('line', 'arrow', 'square', 'daimond', 'eraser', 'text');
$properties-attribute:('width', 'height', 'line-width', 'font-size');


@mixin flex-box() {
    display: flex;
    justify-content: center;
    align-items: center;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-width: 1200px;
    height: 100vh;
    min-height: 600px;
    background-image: url('../resources/background.jpg');
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: grid;
    gap: 30px;
    grid-template-columns: 1px 1fr 6fr 1px;
    grid-template-rows: 1px 1fr 1px;
    grid-template-areas:
        ". . . ."
        ". menu canvas-container ."
        ". . . .";
    font-size: 20px;
}

@import './menu.scss';