.menu {
    border-radius: 8px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
    background-image: $menu-gradient;
    font-size: 1em;
    grid-area: menu;
    display: grid;
    grid-template-columns: 5px 1fr 1fr 5px;
    grid-template-rows: 5px repeat(6, 1fr) 10px 4fr 10px repeat(4, minmax(45px, 1.2fr)) 2fr 1fr 5px;
    grid-template-areas:
        ". . . ."
        ". line line ."
        ". arrow arrow ."
        ". square square ."
        ". daimond daimond ."
        ". eraser eraser ."
        ". text text ."
        ". . . ."
        ". text-color text-color ."
        ". . . ."
        ". width width ."
        ". height height ."
        ". line-width line-width ."
        ". font-size font-size ."
        ". . . ."
        ". save load ."
        ". . . .";
}

.menu__text-color-container {
    position: relative;
    grid-area: text-color;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.menu__color-palette{
    position: relative;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    display: grid;
    // display:none;
    grid-gap: 1px;
    grid-template-columns: repeat(#{$number-of-colors-to-pick / 5},1fr);
    grid-template-rows: repeat(#{$number-of-colors-to-pick / 8},1fr);
    background-color: 0px 0px 2px 1px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.menu__color{
    width: 100%;
    height: 100%;
    transition: all 0.1s ease;

    &:hover{
        cursor: pointer;
    }

    &--active{
        border: 2px solid rgba(255,255,255,1);
    }
}

// first colors
@for $i from 1 through $number-of-colors-to-pick - 8{
        .menu__color:nth-child(#{$i}){
            background-color: hsla(360 / ($number-of-colors-to-pick - 8) * $i, 89%, 65.8%, 0.7);
        }

        .menu__color:nth-child(#{$i}):hover{
            background-color: hsla(360 / ($number-of-colors-to-pick - 8) * $i, 79%, 71.8%, 1);
            border: 1px solid rgba(255,255,255,1);
        }
}

// from black to white
@for $i from $number-of-colors-to-pick - 7 through $number-of-colors-to-pick{
    $lightness-multiplier: $i - ($number-of-colors-to-pick - 7);

    .menu__color:nth-child(#{$i}){
        background-color: hsla(0, 0%, 12% * $lightness-multiplier, 0.8);
    }

    .menu__color:nth-child(#{$i}):hover{
        background-color: hsla(0, 0%, 12% * $lightness-multiplier, 1);
        border: 1px solid rgba(255,255,255,1);
    }
}

.menu__text-container{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

#text{
    overflow: hidden;
    resize: none;
    width: 100%;
    height: 100%;
    line-break: auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: lighten($menu-background-color-1,15%);
    font-family: $font;
    font-size: 1em;
    color: lighten($text-color,10%);
}

.menu__text-clear{
    position: absolute;
    right: 1px;
    bottom:1px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: rgba(118,117,219,0.4);
    transition: all 0.1s ease;

    &:hover{
        cursor: pointer;
        background-color: rgba(118,117,219,0.8);
    }
}

.menu__clear-icon{
    @include flex-box();
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
}

.menu__save {

    $background-color: hsla(
        hue(map.get($colors-1,"color-1")),
        saturation(map.get($colors-1,"color-1")) * 0.9,
        lightness(map.get($colors-1,"color-1")) * 0.9,
        0.5
    );

    @include flex-box();
    grid-area: save;
    font-family: $font;
    font-weight: 700;
    font-size: 1em;
    color: $text-color;
    background-color: $background-color;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid rgba(0,0,0,0.5);
    transition: all 0.2s ease;

    &:hover{
        $background-color-hover: hsla(
            hue(map.get($colors-1,"color-#{length($colors-1)}")),
            saturation(map.get($colors-1,"color-#{length($colors-1)}")) * 1,
            lightness(map.get($colors-1,"color-#{length($colors-1)}")) * 1,
            0.8
        );

        cursor: pointer;
        color: lighten($text-color,80%);
        background-color:  $background-color-hover;
    }
}

.menu__load {

    $background-color: hsla(
        hue(map.get($colors-1,"color-#{length($colors-1)}")),
        saturation(map.get($colors-1,"color-#{length($colors-1)}")) * 0.9,
        lightness(map.get($colors-1,"color-#{length($colors-1)}")) * 0.9,
        0.5
    );

    @include flex-box();
    grid-area: load;
    font-family: $font;
    font-weight: 700;
    font-size: 1em;
    color: $text-color;
    background-color: $background-color;
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid rgba(0,0,0,0.5);
    transition: all 0.2s ease;

    &:hover{
        $background-color-hover: hsla(
            hue(map.get($colors-1,"color-#{length($colors-1)}")),
            saturation(map.get($colors-1,"color-#{length($colors-1)}")) * 1,
            lightness(map.get($colors-1,"color-#{length($colors-1)}")) * 1,
            0.8
        );

        cursor: pointer;
        color: lighten($text-color,80%);
        background-color:  $background-color-hover;
    }

}

@media all and (max-width: 1400px) {
    .menu {
        font-size: 0.9em;
    }
    .menu__text-color-container{
            width: 100%;
            height: 80%;
    }
}

@media all and (max-width: 1200px) {
    .menu {
        font-size: 0.8em;
    }
    .menu__text-color-container{
        width: 100%;
        height: 70%;
    }
}

@import './button.scss';
@import './properties.scss';