.scrollY-container {
    $background-color: hsla(hue(map.get($colors-1, "color-#{length($colors-1)}")),
        saturation(map.get($colors-1, "color-#{length($colors-1)}")) * 0.3,
        lightness(map.get($colors-1, "color-#{length($colors-1)}")) * 0.3,
        0.5);


    grid-area: scrollY;
    position: relative;
    left: 0px;
    top: 0px;
    min-width: 50px;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
    background-color: $background-color;
    overflow: hidden;
}

.scrollY-container__slide-line {
    position: absolute;
    left: 48%;
    top: 1%;
    width: 4%;
    height: 91%;
    background-color: rgba(255, 255, 255, 0.4);
}

.scrollY-container__silder {
    position: absolute;
    left: 35%;
    top: 1%;
    width: 30%;
    height: 90px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);

    &:hover{
        cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    }
}

.scrollY-container__Y{
    @include flex-box();

    position: absolute;
    left: 1%;
    bottom: 0%;
    width: 98%;
    height: 6%;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    font-family: $font;
    font-size: 0.7em;
    color:$text-color
}