* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  max-height: 100vh;
  min-height: 600px;
  background-image: url("../resources/background.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  display: grid;
  gap: 30px;
  grid-template-columns: 1px 1fr 6fr 1px;
  grid-template-rows: 1px 1fr 1px;
  grid-template-areas: ". . . ." ". menu canvas-container ." ". . . .";
  font-size: 20px;
}

.menu {
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  font-size: 1em;
  grid-area: menu;
  display: grid;
  grid-template-columns: 5px 1fr 1fr 5px;
  grid-template-rows: 5px repeat(6, 1fr) 10px 4fr 10px repeat(4, minmax(45px, 1.2fr)) 2fr 1fr 5px;
  grid-template-areas: ". . . ." ". line line ." ". arrow arrow ." ". square square ." ". daimond daimond ." ". eraser eraser ." ". text text ." ". . . ." ". text-color text-color ." ". . . ." ". width width ." ". height height ." ". line-width line-width ." ". font-size font-size ." ". . . ." ". save load ." ". . . .";
}

.menu__text-color-container {
  position: relative;
  grid-area: text-color;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.menu__color-palette {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.menu__color {
  width: 100%;
  height: 100%;
  transition: all 0.1s ease;
}
.menu__color:hover {
  cursor: pointer;
}
.menu__color--active {
  border: 2px solid white;
}

.menu__color:nth-child(1) {
  background-color: rgba(245, 119, 90, 0.7);
}

.menu__color:nth-child(1):hover {
  background-color: #f0947e;
  border: 1px solid white;
}

.menu__color:nth-child(2) {
  background-color: rgba(245, 148, 90, 0.7);
}

.menu__color:nth-child(2):hover {
  background-color: #f0a97e;
  border: 1px solid white;
}

.menu__color:nth-child(3) {
  background-color: rgba(245, 177, 90, 0.7);
}

.menu__color:nth-child(3):hover {
  background-color: #f0be7e;
  border: 1px solid white;
}

.menu__color:nth-child(4) {
  background-color: rgba(245, 207, 90, 0.7);
}

.menu__color:nth-child(4):hover {
  background-color: #f0d37e;
  border: 1px solid white;
}

.menu__color:nth-child(5) {
  background-color: rgba(245, 236, 90, 0.7);
}

.menu__color:nth-child(5):hover {
  background-color: #f0e97e;
  border: 1px solid white;
}

.menu__color:nth-child(6) {
  background-color: rgba(226, 245, 90, 0.7);
}

.menu__color:nth-child(6):hover {
  background-color: #e2f07e;
  border: 1px solid white;
}

.menu__color:nth-child(7) {
  background-color: rgba(197, 245, 90, 0.7);
}

.menu__color:nth-child(7):hover {
  background-color: #ccf07e;
  border: 1px solid white;
}

.menu__color:nth-child(8) {
  background-color: rgba(168, 245, 90, 0.7);
}

.menu__color:nth-child(8):hover {
  background-color: #b7f07e;
  border: 1px solid white;
}

.menu__color:nth-child(9) {
  background-color: rgba(139, 245, 90, 0.7);
}

.menu__color:nth-child(9):hover {
  background-color: #a2f07e;
  border: 1px solid white;
}

.menu__color:nth-child(10) {
  background-color: rgba(110, 245, 90, 0.7);
}

.menu__color:nth-child(10):hover {
  background-color: #8cf07e;
  border: 1px solid white;
}

.menu__color:nth-child(11) {
  background-color: rgba(90, 245, 100, 0.7);
}

.menu__color:nth-child(11):hover {
  background-color: #7ef085;
  border: 1px solid white;
}

.menu__color:nth-child(12) {
  background-color: rgba(90, 245, 129, 0.7);
}

.menu__color:nth-child(12):hover {
  background-color: #7ef09b;
  border: 1px solid white;
}

.menu__color:nth-child(13) {
  background-color: rgba(90, 245, 158, 0.7);
}

.menu__color:nth-child(13):hover {
  background-color: #7ef0b0;
  border: 1px solid white;
}

.menu__color:nth-child(14) {
  background-color: rgba(90, 245, 187, 0.7);
}

.menu__color:nth-child(14):hover {
  background-color: #7ef0c5;
  border: 1px solid white;
}

.menu__color:nth-child(15) {
  background-color: rgba(90, 245, 216, 0.7);
}

.menu__color:nth-child(15):hover {
  background-color: #7ef0db;
  border: 1px solid white;
}

.menu__color:nth-child(16) {
  background-color: rgba(90, 245, 245, 0.7);
}

.menu__color:nth-child(16):hover {
  background-color: #7ef0f0;
  border: 1px solid white;
}

.menu__color:nth-child(17) {
  background-color: rgba(90, 216, 245, 0.7);
}

.menu__color:nth-child(17):hover {
  background-color: #7edbf0;
  border: 1px solid white;
}

.menu__color:nth-child(18) {
  background-color: rgba(90, 187, 245, 0.7);
}

.menu__color:nth-child(18):hover {
  background-color: #7ec5f0;
  border: 1px solid white;
}

.menu__color:nth-child(19) {
  background-color: rgba(90, 158, 245, 0.7);
}

.menu__color:nth-child(19):hover {
  background-color: #7eb0f0;
  border: 1px solid white;
}

.menu__color:nth-child(20) {
  background-color: rgba(90, 129, 245, 0.7);
}

.menu__color:nth-child(20):hover {
  background-color: #7e9bf0;
  border: 1px solid white;
}

.menu__color:nth-child(21) {
  background-color: rgba(90, 100, 245, 0.7);
}

.menu__color:nth-child(21):hover {
  background-color: #7e85f0;
  border: 1px solid white;
}

.menu__color:nth-child(22) {
  background-color: rgba(110, 90, 245, 0.7);
}

.menu__color:nth-child(22):hover {
  background-color: #8c7ef0;
  border: 1px solid white;
}

.menu__color:nth-child(23) {
  background-color: rgba(139, 90, 245, 0.7);
}

.menu__color:nth-child(23):hover {
  background-color: #a27ef0;
  border: 1px solid white;
}

.menu__color:nth-child(24) {
  background-color: rgba(168, 90, 245, 0.7);
}

.menu__color:nth-child(24):hover {
  background-color: #b77ef0;
  border: 1px solid white;
}

.menu__color:nth-child(25) {
  background-color: rgba(197, 90, 245, 0.7);
}

.menu__color:nth-child(25):hover {
  background-color: #cc7ef0;
  border: 1px solid white;
}

.menu__color:nth-child(26) {
  background-color: rgba(226, 90, 245, 0.7);
}

.menu__color:nth-child(26):hover {
  background-color: #e27ef0;
  border: 1px solid white;
}

.menu__color:nth-child(27) {
  background-color: rgba(245, 90, 236, 0.7);
}

.menu__color:nth-child(27):hover {
  background-color: #f07ee9;
  border: 1px solid white;
}

.menu__color:nth-child(28) {
  background-color: rgba(245, 90, 207, 0.7);
}

.menu__color:nth-child(28):hover {
  background-color: #f07ed3;
  border: 1px solid white;
}

.menu__color:nth-child(29) {
  background-color: rgba(245, 90, 177, 0.7);
}

.menu__color:nth-child(29):hover {
  background-color: #f07ebe;
  border: 1px solid white;
}

.menu__color:nth-child(30) {
  background-color: rgba(245, 90, 148, 0.7);
}

.menu__color:nth-child(30):hover {
  background-color: #f07ea9;
  border: 1px solid white;
}

.menu__color:nth-child(31) {
  background-color: rgba(245, 90, 119, 0.7);
}

.menu__color:nth-child(31):hover {
  background-color: #f07e94;
  border: 1px solid white;
}

.menu__color:nth-child(32) {
  background-color: rgba(245, 90, 90, 0.7);
}

.menu__color:nth-child(32):hover {
  background-color: #f07e7e;
  border: 1px solid white;
}

.menu__color:nth-child(33) {
  background-color: rgba(0, 0, 0, 0.8);
}

.menu__color:nth-child(33):hover {
  background-color: black;
  border: 1px solid white;
}

.menu__color:nth-child(34) {
  background-color: rgba(31, 31, 31, 0.8);
}

.menu__color:nth-child(34):hover {
  background-color: #1f1f1f;
  border: 1px solid white;
}

.menu__color:nth-child(35) {
  background-color: rgba(61, 61, 61, 0.8);
}

.menu__color:nth-child(35):hover {
  background-color: #3d3d3d;
  border: 1px solid white;
}

.menu__color:nth-child(36) {
  background-color: rgba(92, 92, 92, 0.8);
}

.menu__color:nth-child(36):hover {
  background-color: #5c5c5c;
  border: 1px solid white;
}

.menu__color:nth-child(37) {
  background-color: rgba(122, 122, 122, 0.8);
}

.menu__color:nth-child(37):hover {
  background-color: #7a7a7a;
  border: 1px solid white;
}

.menu__color:nth-child(38) {
  background-color: rgba(153, 153, 153, 0.8);
}

.menu__color:nth-child(38):hover {
  background-color: #999999;
  border: 1px solid white;
}

.menu__color:nth-child(39) {
  background-color: rgba(184, 184, 184, 0.8);
}

.menu__color:nth-child(39):hover {
  background-color: #b8b8b8;
  border: 1px solid white;
}

.menu__color:nth-child(40) {
  background-color: rgba(214, 214, 214, 0.8);
}

.menu__color:nth-child(40):hover {
  background-color: #d6d6d6;
  border: 1px solid white;
}

.menu__text-container {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

#text {
  overflow: hidden;
  resize: none;
  width: 100%;
  height: 100%;
  line-break: auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(38, 38, 38, 0.7);
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  color: #f2f2f2;
}

.menu__text-clear {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(118, 117, 219, 0.4);
  transition: all 0.1s ease;
}
.menu__text-clear:hover {
  cursor: pointer;
  background-color: rgba(118, 117, 219, 0.8);
}

.menu__clear-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
}

.menu__save {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: save;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #d9d9d9;
  background-color: rgba(135, 131, 215, 0.5);
  border-radius: 5px 0px 0px 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}
.menu__save:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(118, 117, 219, 0.8);
}

.menu__load {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: load;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #d9d9d9;
  background-color: rgba(98, 96, 206, 0.5);
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}
.menu__load:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(118, 117, 219, 0.8);
}

@media all and (max-width: 1400px) {
  .menu {
    font-size: 0.9em;
  }

  .menu__text-color-container {
    width: 100%;
    height: 80%;
  }
}
@media all and (max-width: 1200px) {
  .menu {
    font-size: 0.8em;
  }

  .menu__text-color-container {
    width: 100%;
    height: 70%;
  }
}
.button[data-tool=line] {
  display: block;
  position: relative;
  grid-area: line;
  background-color: rgba(85, 70, 123, 0.4);
  margin-top: 1px;
  color: #d9d9d9;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  transition: all 0.2s ease-out;
}
.button[data-tool=line]:hover {
  cursor: pointer;
}
.button[data-tool=line]:hover > .button__background {
  width: 100%;
}
.button[data-tool=line]:hover > .button__text {
  color: white;
}
.button[data-tool=line]:hover > .button__icon {
  color: white;
}

.button:nth-of-type(1) .button__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3%;
  height: 100%;
  background-color: rgba(85, 70, 123, 0.8);
  transition: all 0.3s ease-out;
}

.button[data-tool=arrow] {
  display: block;
  position: relative;
  grid-area: arrow;
  background-color: rgba(115, 71, 124, 0.4);
  margin-top: 1px;
  color: #d9d9d9;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  transition: all 0.2s ease-out;
}
.button[data-tool=arrow]:hover {
  cursor: pointer;
}
.button[data-tool=arrow]:hover > .button__background {
  width: 100%;
}
.button[data-tool=arrow]:hover > .button__text {
  color: white;
}
.button[data-tool=arrow]:hover > .button__icon {
  color: white;
}

.button:nth-of-type(2) .button__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3%;
  height: 100%;
  background-color: rgba(115, 71, 124, 0.8);
  transition: all 0.3s ease-out;
}

.button[data-tool=square] {
  display: block;
  position: relative;
  grid-area: square;
  background-color: rgba(111, 72, 124, 0.4);
  margin-top: 1px;
  color: #d9d9d9;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  transition: all 0.2s ease-out;
}
.button[data-tool=square]:hover {
  cursor: pointer;
}
.button[data-tool=square]:hover > .button__background {
  width: 100%;
}
.button[data-tool=square]:hover > .button__text {
  color: white;
}
.button[data-tool=square]:hover > .button__icon {
  color: white;
}

.button:nth-of-type(3) .button__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3%;
  height: 100%;
  background-color: rgba(111, 72, 124, 0.8);
  transition: all 0.3s ease-out;
}

.button[data-tool=daimond] {
  display: block;
  position: relative;
  grid-area: daimond;
  background-color: rgba(103, 70, 121, 0.4);
  margin-top: 1px;
  color: #d9d9d9;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  transition: all 0.2s ease-out;
}
.button[data-tool=daimond]:hover {
  cursor: pointer;
}
.button[data-tool=daimond]:hover > .button__background {
  width: 100%;
}
.button[data-tool=daimond]:hover > .button__text {
  color: white;
}
.button[data-tool=daimond]:hover > .button__icon {
  color: white;
}

.button:nth-of-type(4) .button__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3%;
  height: 100%;
  background-color: rgba(103, 70, 121, 0.8);
  transition: all 0.3s ease-out;
}

.button[data-tool=eraser] {
  display: block;
  position: relative;
  grid-area: eraser;
  background-color: rgba(86, 67, 113, 0.4);
  margin-top: 1px;
  color: #d9d9d9;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  transition: all 0.2s ease-out;
}
.button[data-tool=eraser]:hover {
  cursor: pointer;
}
.button[data-tool=eraser]:hover > .button__background {
  width: 100%;
}
.button[data-tool=eraser]:hover > .button__text {
  color: white;
}
.button[data-tool=eraser]:hover > .button__icon {
  color: white;
}

.button:nth-of-type(5) .button__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3%;
  height: 100%;
  background-color: rgba(86, 67, 113, 0.8);
  transition: all 0.3s ease-out;
}

.button[data-tool=text] {
  display: block;
  position: relative;
  grid-area: text;
  background-color: rgba(65, 64, 104, 0.4);
  margin-top: 1px;
  color: #d9d9d9;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  transition: all 0.2s ease-out;
}
.button[data-tool=text]:hover {
  cursor: pointer;
}
.button[data-tool=text]:hover > .button__background {
  width: 100%;
}
.button[data-tool=text]:hover > .button__text {
  color: white;
}
.button[data-tool=text]:hover > .button__icon {
  color: white;
}

.button:nth-of-type(6) .button__background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3%;
  height: 100%;
  background-color: rgba(65, 64, 104, 0.8);
  transition: all 0.3s ease-out;
}

.button:first-of-type {
  border-radius: 5px 5px 0px 0px;
}

.button:nth-of-type(6) {
  border-radius: 0px 0px 5px 5px;
}

.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 3%;
  top: 0px;
  width: 77%;
  height: 100%;
}

.button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 80%;
  top: 0px;
  width: 20%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.button__icon img {
  width: 80%;
  height: 80%;
}

.button__background--active {
  width: 100% !important;
}

.propertie[data-tool=width] {
  position: relative;
  grid-area: width;
  display: block;
  width: 80%;
  margin-bottom: 2px;
  border-radius: 4px;
  background-color: rgba(76, 74, 118, 0.4);
}

.propertie[data-tool=height] {
  position: relative;
  grid-area: height;
  display: block;
  width: 80%;
  margin-bottom: 2px;
  border-radius: 4px;
  background-color: rgba(80, 70, 117, 0.4);
}

.propertie[data-tool=line-width] {
  position: relative;
  grid-area: line-width;
  display: block;
  width: 80%;
  margin-bottom: 2px;
  border-radius: 4px;
  background-color: rgba(85, 70, 123, 0.4);
}

.propertie[data-tool=font-size] {
  position: relative;
  grid-area: font-size;
  display: block;
  width: 80%;
  margin-bottom: 2px;
  border-radius: 4px;
  background-color: rgba(115, 71, 124, 0.4);
}

.propertie__label {
  position: absolute;
  left: 0px;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  color: #d9d9d9;
  font-size: 0.7em;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.propertie__input {
  position: absolute;
  left: 5px;
  bottom: 2px;
  width: 90%;
  height: 50%;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  resize: none;
  text-align: center;
  color: #d9d9d9;
  font-weight: 700;
  font-size: 0.8em;
  font-family: "PT Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
}
.propertie__input:invalid {
  box-shadow: none;
}
.propertie__input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  color: #d9d9d9;
}
.propertie__input:focus + .propertie__label, .propertie__input:valid + .propertie__label {
  transform: translateY(-20px) translateX(-15%);
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.45);
}

.propertie__subbmit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 6%;
  bottom: 4%;
  width: 15%;
  height: 50%;
  border-radius: 3px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  color: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(85, 70, 123, 0.8);
}
.propertie__subbmit:hover {
  cursor: pointer;
  background-color: rgba(108, 89, 155, 0.8);
}

@media all and (max-width: 1400px) {
  .propertie__label {
    font-size: 0.6em;
  }
}
@media all and (max-width: 1200px) {
  .propertie__label {
    width: 90%;
    font-size: 0.7em;
  }
}
.main-container {
  grid-area: canvas-container;
  display: grid;
  min-height: 600px;
  max-height: 93vh;
  grid-template-columns: 10px 0.8fr 0.8fr 1fr 1fr 5fr 1fr 0.4fr 10px;
  grid-template-rows: 5px 0.5fr 8fr 5px 0.35fr 10px;
  grid-template-areas: ". . . . . . . . ." ". scrollX scrollX scrollX scrollX scrollX scrollX . ." ". canvas canvas canvas canvas canvas canvas scrollY ." ". . . . . . . . ." ". un-do front . reset . coordinates . ." ". . . . . . . . .";
  background: linear-gradient(-60deg, rgba(64, 64, 64, 0.7), rgba(26, 26, 26, 0.7));
  border-radius: 10px;
}

.main-container__un-do {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: un-do;
  background-color: rgba(150, 119, 229, 0.6);
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  color: #d9d9d9;
  font-weight: 700;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px 0px 0px 5px;
  transition: all 0.2s ease;
}
.main-container__un-do:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(183, 161, 237, 0.6);
}
.main-container__un-do--not-active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-container__front {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: front;
  background-color: rgba(187, 117, 226, 0.6);
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  color: #d9d9d9;
  font-weight: 700;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0px 5px 5px 0px;
  transition: all 0.2s ease;
}
.main-container__front:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(208, 160, 235, 0.6);
}
.main-container__front--not-active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-container__reset {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: reset;
  background-color: #7675db;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  color: #d9d9d9;
  font-weight: 700;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: all 0.2s ease;
}
.main-container__reset:hover {
  cursor: pointer;
  color: white;
  background-color: #9e9de6;
}

.main-container__coordinates {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: coordinates;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  font-family: "PT Sans", sans-serif;
  font-size: 0.7em;
  color: #d9d9d9;
}

.scrollX-container {
  grid-area: scrollX;
  position: relative;
  left: 0px;
  top: 0px;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(42, 42, 59, 0.5);
  overflow: hidden;
}

.scrollX-container__slide-line {
  position: absolute;
  left: 1%;
  top: 48%;
  width: 93%;
  height: 4%;
  background-color: rgba(255, 255, 255, 0.4);
}

.scrollX-container__silder {
  position: absolute;
  left: 1%;
  top: 33%;
  width: 90px;
  height: 36%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}
.scrollX-container__silder:hover {
  cursor: pointer;
  background-color: white;
}

.scrollX-container__X {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0%;
  top: 1%;
  width: 4%;
  min-width: 40px;
  height: 98%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", sans-serif;
  font-size: 0.7em;
  color: #d9d9d9;
}

.scrollY-container {
  grid-area: scrollY;
  position: relative;
  left: 0px;
  top: 0px;
  min-width: 50px;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(42, 42, 59, 0.5);
  overflow: hidden;
}

.scrollY-container__slide-line {
  position: absolute;
  left: 48%;
  top: 1%;
  width: 4%;
  height: 91%;
  background-color: rgba(255, 255, 255, 0.4);
}

.scrollY-container__silder {
  position: absolute;
  left: 35%;
  top: 1%;
  width: 30%;
  height: 90px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}
.scrollY-container__silder:hover {
  cursor: pointer;
  background-color: white;
}

.scrollY-container__Y {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1%;
  bottom: 0%;
  width: 98%;
  height: 6%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", sans-serif;
  font-size: 0.7em;
  color: #d9d9d9;
}

.canvas-container {
  position: relative;
  left: -1%;
  top: 0px;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  grid-area: canvas;
  padding: 10px;
}

.canvas-container__scroll-container {
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: content-box;
  padding-left: 30px;
  padding-bottom: 30px;
}

.canvas-container__canvas {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

/*# sourceMappingURL=main.css.map */
